{% extends 'layout.html' %}

{% block body %}

<section id="hero">
    <div class="container topmargin-xs" id="textinicio">
        <div class="content-center">
            <h1>
                Disfruta de nuestros mejores productos
            </h1>
            <p>
                Ofrecemos calidad y variedad, visitanos

            </p>
            <a href="#" class="btn btn-light topmargin-sm">Ver más <ion-icon name="caret-forward-outline" class="icon">
                </ion-icon></a>
        </div>

    </div>
</section>

<section id="portafolio">
    <div class="container-fluid">
        <div class="content-center">
            <h2>
                En 'La Huerta' encontrarás la mejor variedad de <b>frutas y verduras frescas</b>
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nisi facilis accusantium explicabo,
                corrupti perferendis beatae facere, tempora, neque veniam velit maxime quae ipsum reiciendis illum non
                sit ad nobis.
            </p>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="portafolio-container">
                    <div class="portafolio-details">
                        <a href="/frutas">
                            <h2>Frutas</h2>
                        </a>
                        <a href="/frutas">
                            <p>
                                La mejor variedad en Bucaramanga
                            </p>
                        </a>
                    </div>
                    <img src="../static/imgs/frutas.jpg" alt="portafolio">

                </div>
            </div>
            <div class="col-md-6">
                <div class="portafolio-container">
                    <div class="portafolio-details">
                        <a href="/verduras">
                            <h2>Verduras</h2>
                        </a>
                        <a href="/verduras">
                            <p>
                                La mejor variedad en Bucaramanga
                            </p>
                        </a>
                    </div>
                    <img src="../static/imgs/verduras.jpg" alt="portafolio">

                </div>
            </div>
            <div class="col-md-6">
                <div class="portafolio-container">
                    <div class="portafolio-details">
                        <a href="#">
                            <h2>Especias y condimentos</h2>
                        </a>
                        <a href="#">
                            <p>
                                La mejor variedad en Bucaramanga
                            </p>
                        </a>
                    </div>
                    <img src="../static/imgs/especias2.jpeg" alt="portafolio">

                </div>
            </div>
            <div class="col-md-6">
                <div class="portafolio-container">
                    <div class="portafolio-details">
                        <a href="#">
                            <h2>Entre otros</h2>
                        </a>
                        <a href="#">
                            <p>
                                Pregunta
                            </p>
                        </a>
                    </div>
                    <img src="../static/imgs/almo.jpg" alt="portafolio">

                </div>
            </div>

        </div>

        <div class="text-center topmargin-sm">
            <p>Listos para satisfacer tus necesidades, nosotros te lo llevamos</p>
            <a href="#" class="text-dark">Pide ahora</a>
        </div>

    </div>

</section>




{% endblock %}